html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}
/* header */

header {
  height: 64px;
  width: 100%;
}

.mobile {
  display: none;
}

.desktop {
  height: 4rem;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
  }
}
.name {
  width: 30%;
  position: relative;
  left: 24px;
  align-items: center;
  height: 32px;
  display: flex;
  flex-basis: 500px;
}

.name img {
  height: 2.5rem;
}

.name p {
  color: gray;
  font-size: 1.5rem;
}

#bold {
  color: black;
  font-weight: 800;
}

.navbar {
  margin-right: 24px;
  margin-left: auto;
  display: flex;
}

.navbar a {
  margin-right: 16px;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

/* learn new */
.learn-container {
  background-color: #e0e0e0;
  display: flex;
  overflow: hidden;
}

@media screen and (max-width: 640px) {
  .learn-container {
    flex-direction: column;
  }
  .learn-container img {
    width: 100%;
  }
}

.learn-container img {
  width: 60%;
  margin: 2rem 1.5rem;
}
.learn-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  position: relative;
  top: -3rem;
}

.learn-text h1 {
  color: #404040;
  font-size: 2.4rem;
  font-weight: 900;
}

.learn-text h2 {
  color: #606060;
  font-size: 1.8rem;
}

.learn-text p {
  text-align: center;
  color: white;
  font-size: 1.7rem;
  background-color: #404040;
  width: 80%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.info-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: fit-content;
}
.left-container {
  width: 60%;
  margin: 2rem 1.5rem;
  height: fit-content;
  /* border: 1px solid gray; */
}
.left-container img {
  width: 100%;
}
.left-container h1 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.left-container p {
  color: #606060;
}

.left-container h2 {
  font-size: 1rem;
}
/* right side */
.right-container {
  width: 40%;
  height: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}
.info {
  display: flex;
  border: 1px solid #efebeb;
  align-items: center;
}
.info img {
  width: 35%;
  margin: 1rem 1rem;
}
details {
  display: flex;
  align-items: center;
}

.details h3 {
  color: #606060;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.details p {
  color: #606060;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.details a {
  text-decoration: none;
  color: blue;
}
/* course info */
.course-container {
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
}
.course-container h1 {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.box {
  /* margin: 2rem 6rem; */
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.disciplines {
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  margin: 2rem 2rem;
  justify-content: space-between;
  /* overflow: ; */
}

.disciplines img {
  overflow: hidden;
}

.course-info {
  display: flex;
  flex-flow: column wrap;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}
.course-info h3 {
  margin-top: 1rem;
  margin-bottom: 0;
  color: #606060;
}
.course-info p {
  margin-bottom: 0;
  margin-top: 0.5rem;
  color: #606060;
}

/* thesis section */
.thesis-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-bottom: 1px solid gray;
}
.thesis-container h1 {
  width: 100%;
  text-align: center;
  color: #404040;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.thesis-box {
  display: flex;
  margin-left: 1.5rem;
  margin-bottom: 2rem;
}
.left-thesis {
  width: 60%;
  margin-right: 1.5rem;
}
.left-thesis video {
  width: 100%;
}
.left-info {
  margin-top: 24px;
  margin-bottom: 0;
  color: #606060;
}
.left-info h2 {
  margin-bottom: 0.5rem;
}

.right-thesis {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.thesis-brief {
  width: 100%;
  display: flex;
}

.thesis-brief img {
  width: 35%;
  margin: 1rem 1rem;
}
#gray-bg {
  background-color: #e0e0e0;
}
.thesis-info {
  width: 65%;
  color: #606060;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.thesis-info h2 {
  margin-bottom: 0.5rem;
}
.thesis-info p {
  margin-top: 0;
}

footer {
  display: flex;
  color: #606060;
}
.copyright {
  margin-top: 1rem;
  margin-left: 1.5rem;
}

.tp {
  display: flex;
  margin-right: 0.5rem;
  margin-left: auto;
}
.tp p {
  margin-left: 1rem;
}
