html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}
/* header */

header {
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
}

.name {
  position: relative;
  left: 24px;
  align-items: center;
  height: 32px;
  display: flex;
  flex-basis: 500px;
}

.name img {
  height: 2.5rem;
}

.name p {
  color: gray;
  font-size: 1.5rem;
}

#bold {
  color: black;
  font-weight: 800;
}

.navbar {
  margin-right: 24px;
  margin-left: auto;
  display: flex;
}

.navbar a {
  margin-right: 16px;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

/* learn new */
.learn-container {
  background-color: #e0e0e0;
  display: flex;
  overflow: hidden;
}
.learn-container img {
  width: 60%;
  margin: 2rem 1.5rem;
}
.learn-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  position: relative;
  top: -3rem;
}

.learn-text h1 {
  color: #404040;
  font-size: 2.4rem;
  font-weight: 900;
}

.learn-text h2 {
  color: #606060;
  font-size: 1.8rem;
}

.learn-text p {
  text-align: center;
  color: white;
  font-size: 1.7rem;
  background-color: #404040;
  width: 80%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.info-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: fit-content;
}
.left-container {
  width: 60%;
  margin: 2rem 1.5rem;
  height: fit-content;
  /* border: 1px solid gray; */
}
.left-container img {
  width: 100%;
}
.left-container h1 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.left-container p {
  color: #606060;
}

.left-container h2 {
  font-size: 1rem;
}
/* right side */
.right-container {
  width: 40%;
  height: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}
.info {
  display: flex;
  border: 1px solid #efebeb;
  align-items: center;
}
.info img {
  width: 35%;
  margin: 1rem 1rem;
}
details {
  display: flex;
  align-items: center;
}

.details h3 {
  color: #606060;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.details p {
  color: #606060;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.details a{
    text-decoration: none;
    color: blue;
}
